.resource_item_image {
    position: relative;
    display: block;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        content: '';
        width: 100%;
        z-index: 9999;
        background-image: -webkit-linear-gradient(#67C4EA 0%, #0052BB 98%);
        background-image: -o-linear-gradient(#67C4EA 0%, #0052BB 98%);
        background-image: linear-gradient(#67C4EA 0%, #0052BB 98%);
        opacity: .6;
     
    }
}

.resource_content {

    h1 {
    .chronicle_bold;

    color: @blue_dark;
    font-size: 36px;

    @media @min_md {
      font-size: 50px;
    }

    @media @min_lg {
      font-size: 60px;
    }
  }

    h2 {
        .avenir_black;
        color: @blue_dark;
        font-size: 20px;

        @media @min_lg {
          font-size: 22px;
        }
    }
}

.resource-sidebar {
    h2 {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        color: @blue_light;
        font-size: 18px;
        text-transform: uppercase;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        border-bottom: 1px solid @gray_10;
        font-size: 16px;

        &:first-child {
            border-top: 1px solid @gray_10;
        }
    }

    a {
        padding: 10px;
        color: @blue_light;
        display: block;
        background: @gray_5;

        &:hover {
            background: lighten(@blue_light, 50%);
        }
    }
}